@import "../../../styles/variables";

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  display: flex;
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  height: 110px;
  max-width: 200px;
  background: $dark-gray-50-opacity;

  justify-content: space-between;

  .activityCardTitle {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    height: max-content;

    &:focus {
      outline: 0;
    }
  }

  h3 {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  a {
    background-color: $link-color-pink;
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    min-width: 20px;
    margin-top: 5px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .information {
    width: 400px;
    background: $information-tooltip-gray;
    font-size: 15px;
    opacity: 1 !important;
    color: $white;
  }
}

.closeModalBtn {
  background-color: $link-color-pink;
  color: white;
  border: none;
  border-radius: 2px;
  width: 25px;
  min-height: 25px;
  align-self: flex-end;
  outline: none;
}

.modal {
  background: $information-modal-gray;
  display: flex;
  width: 80%;
  height: 80vh;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid $white-50-opacity;
  outline: none;
  overflow: auto;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-80-opacity;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
