@import "../../../styles/variables";

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  display: flex;
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  height: 110px;
  max-width: 200px;
  background: $dark-gray-50-opacity;

  justify-content: space-between;

  h3 {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  a {
    background-color: $link-color-pink;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    min-width: 20px;
    margin-top: 5px;
    
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .information {
    width: 400px;
    background: $information-tooltip-gray;
    font-size: 15px;
    opacity: 1 !important;
    color: $white;
    &:after {
      border-bottom-color: $information-tooltip-gray !important;
      border-top-color: $information-tooltip-gray !important;
    }
  }
  


 
  
}

