.container {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;

  .download {
    display: flex;
    justify-content: space-evenly;
    width: 13%;

    img {
      width: 25px;
    }
  }
}
