@import "../../styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    height: 95%;
    padding: 0 1rem;
    margin: 1rem auto 0;
    
    header {
        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
        }
    }

    footer {
        margin-top: auto;
        margin-bottom: 0rem;
        position: relative;
        padding: 20px;
        font-weight: 600;
        height: 2.5rem;
        text-align: center;
        
        a {
            color: white;
        }
        a:hover {
            text-decoration: none;
            color: $link-color-pink;
            span {
                color: white;
            }
        }
        span {
            color: $link-color-pink;
        }
    }
   }