.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    h2 {
        font-weight: 500;
    }
.decisionLink {
    font-size: 18;
    font-weight: 1000;
}
  }