.rbc-off-range-bg {
  background: $dark-gray-50-opacity;
}

.rbc-today {
  background-color: $lighter-gray-50-opacity;
}

.rbc-toolbar {
  button {
    color: white;
  }
}

.rbc-day-slot {
  .rbc-time-slot {
    border-top: $dark-gray-50-opacity;
  }
}

.rbc-event {
  background-color: $link-color-pink;

  &.rbc-selected {
    background-color: darken($link-color-pink, 20%);
  }
}