$link-color-pink: #ef5ba1;
$dark-gray-50-opacity: #32323280;
$black-80-opacity: #000000cc;
$lighter-gray-50-opacity: #50505080;
$information-tooltip-gray: #6b6b6b;
$information-modal-gray: #585858;
$white-50-opacity: #ffffff80;
$white: #fff;
